<div class="navigation"> <!-- creating navigation -->
        <ul>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io">Home</a></li>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io/topics">Topics</a></li>
        </ul>
    </div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
